body {
    font-family: 'Segoe UI', sans-serif;

}

span {
    font-style: italic;
}

/* ----------------- Blockly Div --------------------- */
.blocklyDiv {
    height: 500px;
    width: 100%; /*1000*/
}

#filesDiv {
    position: relative;
    z-index: 999;
}

#filesDiv button {
    transition: 1s;
    display: inline-block;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
    background-color: #ececec;
    border-radius: 1px;
    height: 30px;
    margin: 0px;
    position: relative;
    border: 0;
    border-left: solid grey 3px ;
}

#filesDiv button:hover {
    transition: 0.1s;
    background-color: #d0d0d0;
    border-left: solid red 3px;
}

#filesDiv button:active {
    background-color: antiquewhite;
}

#filesDiv button:selection {
    border-bottom-color: #454545;
}
/* ------------------- Sidebar ----------------------- */
.side-bar {
    position: fixed;
    right: 0px;
    top: 0;
    height: 100%;
    z-index: 999;
    width: 300px;
    padding: 20px;
    background: #604040;
    color: antiquewhite;
    box-shadow: 0px 0px 20px black inset;

}

.side-bar h1 {
    text-align: center;
}

.edition-window {
    margin: 0px;
    padding: 10px;
    color: white;
    background-color: #200000;
    width: 90%; /*1020px*/
    height: auto;
    border-radius: 5px 5px 5px 5px;
}

/*-------------------- Toolbar ----------------------- */
.toolbar-workspace {
    margin: 0px;
    padding: 10px;
    padding-right: 0px;
    color: white;
    background-color: #200000;
    width: 90%; /*1000*/
    height: auto;
    border-radius: 5px 5px 5px 5px;
}

.title-toolbar-workspace {
    margin: 0px;
    height: 30px;
    width: auto;
    text-align: center;
}

.toolbar-group {
    padding: 0px;
    margin: 0px;
    margin-bottom: 3px;
    display: inline-block;
    height: auto;
    background-color: #ececec;   
}

.item-workspace {
    color: black;
    transition: 1s;
    display: inline-block;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: bold;
    background-color: #ececec;
    border-radius: 1px;
    height: 30px;
    margin: 0px;
    position: relative;
    border: 0;
    border-bottom: solid grey 3px;
}

.item-workspace:hover {
    transition: 0.1s;
    background-color: #d0d0d0;
    border-bottom: solid red 3px;
}

.item-workspace:active {
    background-color: antiquewhite;
}

.item-workspace:selection {
    border-bottom-color: #454545;
}

.toolbar-onglet {
    margin-top: 2px;
    border-top: solid #604040 1px;
    padding-top: 5px;
    height: 20px;
}

.onglet {
    transition: 0.2s;
    margin: 0px;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: inline-block;
    height: 20px;
    padding: 1px;
    border-radius: 2px 2px 0px 0px;
    background-color: #603c3c;
    border: solid #503030;
}

.onglet:hover {
    box-shadow: 0px 0px 5px #A08080;
}

.onglet:checked {
    background-color: #A08080;
    color: #200000;
}


