body {
    font-family: 'Segoe UI', sans-serif;

}

span {
    font-style: italic;
}

/* ----------------- Blockly Div --------------------- */
.blocklyDiv {
    height: 800px;
    width: 100%; /*1000*/
}

.dev-block {
    display: block;

}
#filesDiv {
    position: relative;
    z-index: 999;
}

#filesDiv button {
    transition: 1s;
    display: inline-block;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
    background-color: #ececec;
    border-radius: 1px;
    height: 30px;
    margin: 0px;
    position: relative;
    border: 0;
    border-left: solid grey 3px ;
}

#filesDiv button:hover {
    transition: 0.1s;
    background-color: #d0d0d0;
    border-left: solid red 3px;
}

#filesDiv button:active {
    background-color: antiquewhite;
}

#filesDiv button:selection {
    border-bottom-color: #454545;
}

.blocklyToolboxDiv {
    background-color: #200000 !important;
}

/*background*/
.blocklySvg {
  background-color: #FFFFFF !important;
}

.blocklyTreeLabel {
    color: white !important;
}


/* ---------------- Generated code ------------------- */
.top-layer {
    position: fixed;
    z-index: 999;
}

.generated-code {
    text-align: center;
    transition: width 0.4s, opacity 0.4s;
    position: fixed;
    width: 0%;
    opacity: 0;
    background-color: antiquewhite;
    color: #604040;
    box-shadow: 0 0 3px 1px #200000 inset;
    z-index: 999;
}
.generated-code h1 {
    padding: 20px;    
}

.top-layer button {
    position: relative;
    text-align: center;
    width: auto;
    margin: 0 0;
    padding: 5px;
    background-color: white;
    color: black;
}

.generated-code pre {
    text-align: left;
    position: relative;
    margin: 20px;
    border: 0;
    box-shadow: 0 0 1px 1px brown;
        
}

.full-height {
    height: 100%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.code-hide {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 999;
    width: 10%;
}

.code-hide button {
    transition: 0.2s;
    margin: 0;
    padding: 0;
    height: 100%;
    border: 0px;
    width: 100%;
    font-size: 2em;
    color: antiquewhite;
    background-color: #200000;
    box-shadow: 0px 0px 5px 0px antiquewhite inset;
}

.code-hide button:hover {
    background-color: #300000;
}

.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
/* ------------------- Sidebar ----------------------- */
.side-bar {
    font-family: 'Segoe UI', sans-serif;
    position: fixed;
    right: 0px;
    top: 0;
    height: 100%;
    width: 25%;
    z-index: 999;
    min-width: 300px;
    background: #604040;
    color: antiquewhite;
    text-align: center;

}
.side-bar .variable-name {
    
}

.side-bar input {
    width: 100%;
    padding: 2px;
    margin: 2px; 
    font-style: normal;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    color: #604040;
    border: 0;
    border-radius: 1px;
    box-shadow: 0 0;      
}

.side-bar h1 {
    text-align: center;
}

/*.side-bar input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
    background-color: #FFFFF0;
    color: black;
}*/

.textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.delete-button {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: bold;
    transition: 0.2s;
    border-radius: 2px;
    height: 28px;
    width: 20px;
    box-shadow: 0px 0px 0px 0px antiquewhite inset;
    color: black;
    background-color: #ececec;
    color: black;

    margin: 2px;
    border: 0;
}

.delete-button:hover {
    box-shadow: 0px 0px 0px 1px red inset;
    background-color: #d0d0d0;
}

.edition-window {
    margin: 5px;
    padding: 10px;
    color: white;
    background-color: #200000;
    height: auto;
    border-radius: 5px 5px 5px 5px;
}

.searchbar {
    color: black;
}

/*-------------------- Toolbar ----------------------- */
.toolbar-workspace {
    z-index: 0;
    margin: 0px;
    padding: 10px;
    padding-right: 0px;
    color: white;
    background-color: #200000;
    width: 90%; /*1000*/
    height: auto;
    border-radius: 5px 5px 5px 5px;
}

.title-toolbar-workspace {
    margin: 0px;
    height: 30px;
    width: auto;
    text-align: center;
}

.toolbar-group {
    padding: 0px;
    margin: 0px;
    margin-bottom: 3px;
    display: inline-block;
    height: auto;
    background-color: #ececec;   
}

.item-workspace {
    color: black;
    transition: 1s;
    display: inline-block;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: bold;
    background-color: #ececec;
    border-radius: 1px;
    height: 30px;
    margin: 0px;
    position: relative;
    border: 0;
    border-bottom: solid grey 3px;
}

.item-workspace:hover {
    transition: 0.1s;
    background-color: #d0d0d0;
    border-bottom: solid red 3px;
}

.item-workspace:active {
    background-color: antiquewhite;
}

.item-workspace:selection {
    border-bottom-color: #454545;
}

.toolbar-onglet {
    margin-top: 2px;
    border-top: solid #604040 1px;
    padding-top: 5px;
    height: 20px;
}

.onglet {
    transition: 0.2s;
    margin: 0px;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: inline-block;
    height: 20px;
    padding: 1px;
    border-radius: 2px 2px 0px 0px;
    background-color: #603c3c;
    border: solid #503030;
}

.onglet:hover {
    box-shadow: 0px 0px 5px #A08080;
}

.onglet:checked {
    background-color: #A08080;
    color: #200000;
}


