<div class="variables-set">
    <div id="blocklyDivInventory" class="not-shown"></div>
    <div id="blocklyDivConfiguration" class="not-shown"></div>
    <h1>{{$ctrl.variablesSet.Name()}}</h1>
    <div class="toolbar-workspace">
        <div class="toolbar-group">
            <input id="config-title"
                   class="set-title"
                   value="Set défaut"/>
                </div>
        <div class="toolbar-items">
            <div class="toolbar-group">
                <button class="item-workspace save"
                        title="Sauvegarde les variables"></button>
                <div class="inline-block">
                    <button class="item-workspace restore dropdown-toggle"
                            title="Restore un set de variables"
                            data-toggle="dropdown"></button>
                </div>
                <button class="item-workspace clear"
                        title="Efface les fonctions enregistrées"
                        ng-click="$ctrl.variablesSet.Clear()"></button>
                <button class="item-workspace add"
                        title="Ajouter une variable"
                        ng-click="$ctrl.variablesSet.Create()">
                </button>
            </div>
        </div>
        <table id="config-table">
            <tr ng-repeat="variable in $ctrl.variablesSet.List()">
                <td>
                    <input type="text"
                           class="variable-name"
                           value={{variable[0]}}>
                </td>
                <td>
                    <input type="text"
                           class="variable-value"
                           value="{{variable[1]}}">
                </td>
                <td>
                    <button class="delete-button delete"
                            ng-click="$ctrl.variablesSet.Delete(variable[0])">
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>